@use '../abstracts/abstractsIndex' as *;

.main {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.about-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  & .transform {
    width: 100%;
  }
  & .standout {
    width: 100%;
  }
}

.about-description {
  font-size: $pri-size;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-bottom: 1.5em;

  h2 {
    font-family: $sec-font;
    margin: 1.5em;
    margin-bottom: 0.7em;
    text-align: center;
    color: $dark-blue1;
  }

  p {
    font-family: $pri-font;
    text-align: center;
    padding: 0 1em 1em 1em;
    line-height: 1.5;
    color: $dark-blue3;
    position: relative;
  }
}

.learn-more-link {
  font-family: $sec-font;
  text-align: center;
  margin: 1em 1em 1.5em 1em;
  color: $dark-blue1;
  position: relative;
  text-decoration-style: solid;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: $non-active-link;
  text-decoration-thickness: 0.5rem;

  &:visited,
  &:active,
  &:focus {
    text-decoration-color: $active-link;
  }
}

// DEKSTOP

@media screen and (min-width: 1000px) {
  .about-content {
    flex-direction: row;
    & .transform {
      flex: 1;
      order: 1;
      min-width: 50%;
      content: url('/src/images/desktop/image-transform.jpg');
    }

    & .standout {
      flex: 1;
      min-width: 50%;
      content: url('/src/images/desktop/image-stand-out.jpg');
    }
  }

  .about-description {
    margin: 5em;
    flex: 1;
    & h2 {
      text-align: left;
      margin-left: 0.6em;
    }
    & p {
      text-align: left;
    }
    & a {
      text-align: left;
    }
  }
}
