@use '../abstracts/abstractsIndex' as *;

.main {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.about-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  & img {
    width: 100%;
  }
}

.about-description {
  font-size: $pri-size;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-bottom: 1.5em;

  h2 {
    font-family: $sec-font;
    margin: 1.5em;
    margin-bottom: 0.7em;
    text-align: center;
    color: $dark-blue1;
  }

  p {
    font-family: $pri-font;
    text-align: center;
    padding: 0 1em 1em 1em;
    line-height: 1.5;
    color: $dark-blue3;
    position: relative;
  }
}

.learn-more-link {
  font-family: $sec-font;
  text-align: center;
  margin: 1em 1em 1.5em 1em;
  color: $dark-blue1;
  position: relative;
  text-decoration: underline 5px $non-active-link;
  text-underline-offset: 0px;

  &:visited,
  &:focus {
    text-decoration: underline 5px $active-link;
  }
}
