@use '../abstracts/abstractsIndex' as *;

.header {
  position: relative;
  background: url(../images/mobile/image-header.jpg) no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'logo menu'
    'welcome-msg welcome-msg'
    'arrow arrow';
}
.logo-container {
  grid-area: logo;
  position: fixed;
  left: 0;
  margin-left: 2em;
  z-index: 1000;
}

.burger-btn-container {
  position: fixed;
  grid-area: menu;
  top: 2.4em;
  right: 2em;
  cursor: pointer;
  z-index: 1000;
  background: transparent;
  border: 0px solid transparent;
}

.welcome-message {
  grid-area: welcome-msg;
  text-align: center;
  font-family: $sec-font;
  color: $white;
  font-weight: 900;
  letter-spacing: 0.5rem;
}
.arrow {
  grid-area: arrow;
  justify-self: center;
}

.modal-nav-links {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  margin: 2em;
  padding: 2em 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: $white;
  z-index: 1000;

  &::after {
    position: absolute;
    display: block;
    content: '.';
    width: 12px;
    color: hsl(0, 0%, 99%);
    background-color: $white;
    top: -8px;
    right: -4px;
    transform: rotate(315deg) translate(-8px, 5px) skew(-45deg, -1deg);
  }
}
.nav-links {
  margin: 1em;
  & a {
    font-size: $pri-size;
    font-family: $pri-font;
    color: $dark-blue3;
    letter-spacing: 0.1rem;
  }

  &:last-child a {
    color: $dark-blue1;
    font-family: $sec-font;
    padding: 0.6em 1em;
    border-radius: 3em;
    background: $yellow;
  }
}

//.nav-links

.hidden {
  display: none;
}

.show-overlay {
  position: fixed;
  height: 100vh;
  width: 100vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 900;
}
