@use '../abstracts/abstractsIndex' as *;

#reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-family: $pri-font;
  line-height: 1.5;

  @media screen and (min-width: 500px) {
    margin-top: 5rem;
  }

  @media screen and (min-width: 650px) {
    margin-top: 4rem;
  }

  @media screen and (min-width: $bp-large) {
    margin: 6em 5em 6em 5em;
  }

  & h4 {
    margin: 2em;
    letter-spacing: 0.2em;
    text-align: center;
    color: $grayish-blue;
    font-family: $sec-font;
  }
}

.reviews-container {
  @media screen and (min-width: $bp-large) {
    display: flex;
    flex-direction: row;
  }
}

.review-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0.5em;
  font-size: $pri-size;

  & * {
    margin: 1em 0;
  }

  & img {
    width: 50px;
    border-radius: 50%;
  }

  & p {
    margin-top: -0.5em;
    color: $grayish-blue;
    font-size: 1rem;
  }

  & h5 {
    color: $dark-blue1;
    font-family: $sec-font;
  }
}
.review-details {
  text-align: center;
  color: $dark-blue2;
}
