@use '../abstracts/variables' as *;

#services {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  position: relative;
  margin-bottom: 2em;
  background-color: $soft-red;
}

.services-desc {
  display: flex;
  flex-direction: column;
}

.services-design {
  margin-bottom: 2em;
  & img {
    width: 100%;
  }
}

.services-photography {
  & img {
    width: 100%;
  }
}

.design-texts {
  margin-top: -261px;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  text-align: center;
  font-size: $pri-size;
  padding: 1em;
  & h2 {
    font-family: $sec-font;
    color: $dark-cyan1;
    padding: 1em;
  }

  & p {
    font-family: $pri-font;
    color: $dark-cyan1;
    line-height: 1.5;
  }
}

// DESKTOP

@media screen and (min-width: 650px) {
  #services {
    flex-direction: row;
  }

  .services-desc {
    flex: 1;
  }

  .services-design {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1300px) {
  .design-texts {
    margin-top: -261px;
  }

  .services-design {
    & img {
      content: url('/src/images/desktop/image-graphic-design.jpg');
    }
  }

  .services-photography {
    & img {
      content: url('/src/images/desktop/image-photography.jpg');
    }
  }
}
